<div class="row" ng-controller="Display as display">
    <div class="col-sm-6">
        <div ng-repeat="row in display.caravan.memberRows" class="col-sm-12">
            <div ng-repeat="member in row" class="col-sm-6">
                <div>{{member.firstName}} {{member.lastName}}</div>
                <div><img ng-src="{{member.image}}" /></div>
                <div class="form-group">
                    <label class="control-label">Fuel</label>
                    <div progressbar value="member.fuelUsage" max="100" min="0" type="{{member.fuelUsageType}}"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label">Destination</label>
                <span>{{display.trip.destination}}</span>
            </div>
            <div class="form-group">
                <label class="control-label">ETA</label>
                <span>{{display.trip.eta}}</span>
            </div>
        </div>
        <div>
            <div google-map center="display.map.center" zoom="display.map.zoom" options="display.mapOptions" controls="display.mapControls">
            </div>
        </div>
    </div>
</div>