<div ng-controller="Display as display">
    <div class="row title-header"><img src="/Content/images/small_logo.png" class="title link" ng-click="display.refresh()" /></div>
    <div class="row main-container">
        <div class="col-sm-3">
            <div ng-repeat="member in display.caravan.members">
                <div class="row">
                    <div class="col-sm-12" ng-hide="$index === 0">
                        <span class="coupling" ng-class="{'pending': member.status === display.statuses.Pending, 'coupled':member.status === display.statuses.Coupled}">&nbsp;</span>
                    </div>
                    <div class="col-sm-6 z-index-10">
                        <img ng-src="{{member.image}}" class="profile-image"
                             ng-class=" {'pending': member.status === display.statuses.Pending, 'coupled': member.status === display.statuses.Coupled, 'leader': member.status === display.statuses.Leader}" />
                    </div>
                    <div class="col-sm-6">
                        <div class="fuel-bar">
                            <div>Fuel</div>
                            <div progressbar value="member.fuel_usage" max="100" min="0" type="{{member.fuelUsageType}}" class="margin-bottom-0"><b>{{member.fuel_usage}} %</b></div>
                        </div>
                    </div>
                </div>
                <div ng-show="$index === 0 && display.caravan.members.length > 1" class="row">
                    <div class="leader-data">
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="control-label">Speed</label>
                                <div speedometer ng-model="display.caravan.leaderData.speed"></div>
                                </div>
                            <div class="col-sm-6">
                                <label class="control-label">RPM</label>
                                <div tachometer ng-model="display.caravan.leaderData.rpm"></div>
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label">Steering</label>
                                <div>{{display.caravan.leaderData.steering_wheel_angle}} degrees</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row margin-top-2" ng-controller="Buttons as buttons">
                <div class="col-sm-6 z-index-10">
                    <img src="/Content/images/profile_blank.png" class="profile-image" />
                </div>
                <div class="col-sm-6">
                    <div class="fuel-bar link" ng-click="buttons.addMember()">
                        <i class="glyphicon glyphicon-plus"></i> Add Caravaner
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9 margin-top-negative-4">
            <div class="direction-indicator"><i class="glyphicon glyphicon-arrow-left"></i><div><span>{{display.caravan.directions.currentDirection.distance}}</span></div></div>
            <div class="direction-bar"><span>{{display.caravan.directions.currentDirection.label}}</span></div>
            <div google-map center="display.map.center" zoom="display.map.zoom" options="display.mapOptions" controls="display.mapControls">
                <div markers coords="display.caravan.trip.origin" idkey="1"></div>
                <div markers coords="display.caravan.trip.destination" idkey="2"></div>
            </div>
        </div>
    </div>
</div>